//first-screen
section
    //modal-sign-in
    .modal-popup
        button.btn-close
            +icon('icon-close')
        .modal__title Sign in
        form.form
            .form-group
                input.modal__input(type="email", placeholder="E-mail" required)
            .form-group
                input.modal__input(type="password", placeholder="Passsword" required)
            .form-group
                label.checkbox
                    input.checkbox__input(type='checkbox' checked)
                    span.checkbox__label Remember me
            .form-group
                button.btn.btn_submit(type="submit") Login