///* ==========================================================================
//   MODAL
//   ===========================================================================*/

.modal-popup{
  display: block;
  padding: 36px;
  position: fixed;
  top:50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 562px;
  height: auto;
  background: #ccc;
  z-index: 5;
}

//btn-close

.btn-close{
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  width: 30px;
  height: 30px;
  border:none;
  cursor: pointer;
  .icon{
    width: 30px;
    height: 30px;
  }
}

.form{
  @include mq('768'){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form-group{
  position: relative;
  margin-top: 20px;
  @include mq('768'){
    min-width: 230px;
  }
}

.modal__input{
  padding: 25px 20px;
  width: 100%;
  height: 62px;
  background: #eaeaea;
  border: 2px solid transparent;
  outline: none;
  &:focus{
    border:2px solid #4BA82E;
  }
}

//checkbox

.checkbox{
  position: relative;
  margin-top: 24px;
  display: inline-block;
  width: 78%;
}
input[type=checkbox] {
  opacity: 0;
}
.checkbox__label{
  padding-left: 20px;
  font-size: 15px;
  color: #000;
  cursor: pointer;
}
.checkbox__label:before {
  content:'';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0px;
  background: #EAEAEA;

}

.checkbox__input:checked + .checkbox__label:before {
  background:#EAEAEA url("../img/icon-checked.svg") no-repeat center;
}

.btn_submit{
  width: 100%;
  text-transform: uppercase;
  border: none;
  height: 62px;
  transition: .3s;
  &:hover{
    background: #e8e7e7;
  }
}
